@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --light: #f6f6f9;
  --primary: #1976d2;
  --light-primary: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #363949;
  --danger: #d32f2f;
  --light-danger: #fecdd3;
  --warning: #fbc02d;
  --light-warning: #fff2c6;
  --success: #388e3c;
  --light-success: #bbf7d0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.bx {
  font-size: 1.7rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

/* Sidebar Styles */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background: var(--light);
  width: 230px;
  height: 100%;
  z-index: 2000;
  overflow-x: hidden;
  scrollbar-width: none;
  transition: all 0.3s ease;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar.close {
  width: 60px;
}

.sidebar .logo {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--primary);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

.sidebar .logo .logo-name span {
  color: var(--dark);
}

.sidebar .logo .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
}

.sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

.sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}

.sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

.sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}

.sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

.sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
  transition: all 0.3s ease;
}

.sidebar .side-menu li.active a {
  color: var(--success);
}

.sidebar.close .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: all 0.3s ease;
}

.sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  font-size: 1.6rem;
  justify-content: center;
}

.sidebar .side-menu li a.logout {
  color: var(--danger);
}

/* Content Styles */
.content {
  position: relative;
  width: calc(100% - 230px);
  left: 230px;
  transition: all 0.3s ease;
}

.sidebar.close ~ .content {
  width: calc(100% - 60px);
  left: 60px;
}

.content nav {
  height: 56px;
  background: var(--light);
  padding: 0 24px 0 0;
  display: flex;
  align-items: center;
  grid-gap: 24px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

.content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}

.content nav a {
  color: var(--dark);
}

.content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}

.content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

.content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}

.content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}

.content nav form .form-input button {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}

.content nav .notif {
  font-size: 20px;
  position: relative;
}

.content nav .notif .count {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  background: var(--danger);
  border-radius: 50%;
  color: var(--light);
  border: 2px solid var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}

.content nav .theme-toggle {
  display: block;
  min-width: 50px;
  height: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
  border-radius: 25px;
}

.content nav .theme-toggle::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--primary);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.content nav #theme-toggle:checked + .theme-toggle::before {
  left: calc(100% - (25px - 4px) - 2px);
}

.content main {
  width: 100%;
  padding: 36px 24px;
  max-height: calc(100vh - 56px);
}

.content main .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

.content main .header .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

.content main .header .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

.content main .header .left .breadcrumb li {
  color: var(--dark);
}

.content main .header .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}

.content main .header .left .breadcrumb li a.active {
  color: var(--primary);
  pointer-events: none;
}

.content main .header .report {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--primary);
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  font-weight: 500;
}

.content main .cards {
  margin-top: 36px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 24px;
  flex-wrap: wrap;
}

.content main .card {
  background: var(--light);
  padding: 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  grid-gap: 16px;
}

.content main .card .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.content main .card .top .left h2 {
  font-size: 56px;
  font-weight: 700;
  color: var(--dark);
}

.content main .card .top .right {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--primary);
  color: var(--light);
}

.content main .card .middle {
  font-size: 16px;
  color: var(--dark);
}

.content main .card .bottom {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-top: 16px;
}

.content main .card .bottom .graph {
  width: 100%;
  height: 180px;
}

.content main .card .bottom .graph canvas {
  width: 100%;
  height: 100%;
}
.chart-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.chart-title {
  text-align: center;
  margin-bottom: 10px;
}
/* CSS for Device Form Section */

/* Container */
#device-content {
  display: none; /* Hidden by default */
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

/* Headline */
#device-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

/* Form Styling */
#device-form {
  width: 100%;
}

/* Labels */
#device-form label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333; /* Added color for better readability */
}

/* Input Fields */
#device-form input[type="text"],
#device-form input[type="number"] {
  width: calc(100% - 20px); /* Adjusted for button width */
  padding: 10px; /* Increased padding for better touch area */
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px; /* Added margin for better spacing */
  box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
}

/* Buttons */
#device-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px; /* Increased padding for a larger button */
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 5px;
  box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
}

/* Adjusting Button */
#device-form button[type="button"] {
  width: 40px; /* Increased width for better visibility */
  text-align: center;
  padding: 10px 0; /* Adjusted padding for better touch area */
}

/* Button Hover Effect */
#device-form button:hover {
  background-color: #0056b3;
}

/* Button Active Effect */
#device-form button:active {
  background-color: #004494;
  transform: translateY(1px);
}

/* Save Button Specific Style */
#device-form button[type="submit"] {
  width: auto; /* Ensures the button width is determined by its content */
}
/* Add Device Form */
#device-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#device-form label {
  font-weight: bold;
}

#device-form input,
#device-form select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  width: calc(100% - 22px);
}

#device-form button {
  grid-column: span 2;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

#device-form button:hover {
  background-color: #2980b9;
}

/* View Devices */
#device-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.device-item {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.device-item h3 {
  margin: 0;
}

.device-item p {
  margin: 5px 0;
}
/* Base Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--grey);
  color: var(--dark);
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}

body.dark {
  --light: #181a1e;
  --grey: #25252c;
  --dark: #fbfbfb;
}

.content-section {
  background-color: var(--light);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* View Devices Table */
#view-device-content {
  display: none; /* Hidden by default */
  margin-top: 20px;
}

#view-device-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--dark);
}

#device-list {
  width: 100%;
  border-collapse: collapse;
}

#device-list th,
#device-list td {
  padding: 12px 15px;
  border: 1px solid var(--grey);
  text-align: left;
}

#device-list th {
  background-color: var(--primary);
  color: var(--light);
}

#device-list tr:nth-child(even) {
  background-color: var(--light-primary);
}

#device-list tr:nth-child(odd) {
  background-color: var(--light);
}

/* Dark Mode Support */
body.dark .content-section {
  background-color: var(--grey);
}

body.dark #view-device-content h2 {
  color: var(--light);
}

body.dark #device-list th {
  background-color: var(--primary);
  color: var(--dark);
}

body.dark #device-list tr:nth-child(even) {
  background-color: var(--grey);
}

body.dark #device-list tr:nth-child(odd) {
  background-color: var(--light);
}
.content-section {
  display: none;
}
.table-container {
  margin-top: 20px;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
}
.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
/* Existing dark mode styles */
body.dark {
  background-color: #121212;
  color: #e0e0e0;
}
body.dark .sidebar,
body.dark .content nav,
body.dark .content main {
  background-color: #333;
  color: #e0e0e0;
}
body.dark .sidebar .side-menu li a {
  color: #e0e0e0;
}
body.dark .sidebar .side-menu li.active a {
  background-color: #444;
}
body.dark .sidebar .side-menu li a:hover {
  background-color: #444;
}
body.dark .content-section h2 {
  color: #e0e0e0;
}
body.dark .device-counter button,
body.dark .device-counter span {
  background-color: #444;
  color: #e0e0e0;
}
body.dark .table-container {
  background-color: #333;
}
body.dark table {
  border-color: #555;
}
body.dark th,
body.dark td {
  background-color: #444;
  color: #e0e0e0;
}
body.dark th {
  background-color: #555;
}
body.dark .notif-content {
  background-color: #333;
  color: #e0e0e0;
}
body.dark .notif-content ul li {
  border-bottom-color: #555;
}
body.dark .notif-content ul li:hover {
  background-color: #444;
}

/* Add new styles for add-device and view-device-content sections */
body.dark #add-device,
body.dark #view-device-content {
  background-color: #333;
  color: #e0e0e0;
}

body.dark #add-device label,
body.dark #view-device-content label {
  color: #e0e0e0;
}

body.dark #add-device input,
body.dark #view-device-content input,
body.dark #add-device select {
  background-color: #444;
  color: #e0e0e0;
  border: 1px solid #555;
}

body.dark #add-device button,
body.dark #view-device-content button {
  background-color: #555;
  color: #e0e0e0;
  border: none;
  cursor: pointer;
}

body.dark #add-device button:hover,
body.dark #view-device-content button:hover {
  background-color: #666;
}

/* Ensure the form fields and buttons are styled correctly */
#add-device label,
#view-device-content label {
  display: block;
  margin-top: 10px;
}

#add-device input,
#view-device-content input,
#add-device select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

#add-device button,
#view-device-content button {
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 4px;
}

#view-device-content {
  padding: 20px;
}
.flashes {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.flashes li {
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 4px;
}
/* styles.css */
.loading-overlay {
  display: none; /* Start hidden */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's above other elements */
}

.spinner {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
.chart-container {
  margin-bottom: 20px; /* Adjust the margin as needed to reduce gap between charts */
}
