{% include "header.html" %}
{% from "bootstrap5/form.html" import render_form %}
{% block content %}
<main class="form-signin w-100 m-auto">
    <form method="post" novalidate>

        {{ form.hidden_tag() }}
        <img class="mb-4 pcb" src="{{ url_for('static', filename='assets/Designer.png') }}" alt="" width="72" height="57" style="border-radius: 50%;">
        {# Display form errors #}
        {% if form.errors %}
            {% for field, errors in form.errors.items() %}
                {% for error in errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ field | capitalize }}: {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="form-floating mb-3">
            {{ form.password(class="form-control", id="floatingPassword", placeholder="New Password") }}
            {{ form.password.label}}
        </div>

        <div class="form-floating mb-3">
            {{ form.confirm_password(class="form-control", id="floatingConfirmPassword", placeholder="Confirm New Password") }}
            {{ form.confirm_password.label}}
        </div>

        {{ form.submit(class="btn btn-primary w-100 py-2 mb-3") }}
    </form>
</main>
{% include "footer.html" %}
{% endblock %}